.CARE{
    background-color: #cdc7bb;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 10%;
}

.bot{
    width: 30px;
    height: 30px;
}