* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.react-chatbot-kit-chat-container {
  width: 400px;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
  background-color: #2C5364;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #203A43;
}

.react-chatbot-kit-chat-btn-send{
  background-color: #203A43;
}


.CARE{
  background-color: #cbad6d;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
}


.menu{
  
    /* background-color: #000000; */
    color: rgb(0, 0, 0);
    padding: .5rem 1rem;
    border: 1px solid #203A43;
    border-radius: 10px;
    cursor: pointer;
    margin-left: .5rem;
    margin-bottom: 10px;
  
}

@media (max-width:600px) {
  .react-chatbot-kit-chat-container {
    width: 100vw;
  }
}