* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #d53369;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d53369, #cbad6d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d53369, #cbad6d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-container {
  width: 400px;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
  background-color: #d53369;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #d53369;
}

.react-chatbot-kit-chat-btn-send{
  background-color: #d53369;
}

.CARE{
  background-color: #cbad6d;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
}

.start-btn{
  background-color: #6633d5;
  color: white;
  padding: .5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 4.5rem;
  margin-bottom: 10px;
}
.menu{
  
    background-color: #6633d5;
    color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: .5rem;
    margin-bottom: 10px;
  
}




@media (max-width:600px) {
  .react-chatbot-kit-chat-container {
    width: 100vw;
  }
}